<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160174632437-alqh3ousd201h14rbsh3o92mdf8rfhhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160174632437-alqh3ousd201h14rbsh3o92mdf8rfhhv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>160174632437-5gbahqkit25b0vrt6chsgm30r2crhqec.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlx6Z_Wo2rbj6wUUFS13KUE30EJVfgc0A</string>
	<key>GCM_SENDER_ID</key>
	<string>160174632437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expireApp</string>
	<key>PROJECT_ID</key>
	<string>expire-app-8070c</string>
	<key>STORAGE_BUCKET</key>
	<string>expire-app-8070c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160174632437:ios:8adea20ef11d569f0544bc</string>
	<key>DATABASE_URL</key>
	<string>https://expire-app-8070c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>